@import url('https://fonts.googleapis.com/css2?family=Chela+One');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono');

:root {
  --amplify-primary-color: #5f4339;
  --amplify-primary-tint: #8d6e63;
  --amplify-secondary-tint: #5f4339;
  --amplify-primary-shade: #000;
}